*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face{
    font-family: Nolluqa;
    src: url('../fonts/NolluqapersonaluseRegular-VGMge.otf');
}


/* ------------------------------ Navbar ---------------------------------------------------------------------------- */

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    color: black;
    width: 90%;
    margin: 0 30px;

}

.nav-item {
    margin: 0 8px;
    font-size: 15px;
    transition: all 0.4s;
    font-family: 'Roboto', sans-serif;

}

.nav-item a:hover:not(.nav-btn):not(.protect-btn), .nav-item a:active {
    color: #a72355;
}


.navbar-toggler {
    border: none;
    z-index: 1000;
}

@media(max-width: 992px) {
    .navbar-nav {
        position: fixed;
        background-color: #fff;
        min-height: 100vh;
        max-height: 100vh;
        width: 260px;
        top: 0;
        left: 0;
        padding: 24px 24px;
        box-shadow: 0 5px 40px 0 rgb(80 101 142 / 8%);
        transform: translateX(-100%);
        z-index: 999;
        overflow: auto;
        transition: transform .4s ease
    }

    .nav-item{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

}


.transform-nav {
    transform: none;
}


.navbar-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 777;
    background: rgba(167,35,85,0.7);
    display: none;
}

.navbar-display{
    display: block;
}



/* Scroll */
.hide{
    height: 55px;
    width: 50px;
    border-radius: 15px;
    background-color: #212529;
    border: 3px solid white;
    position: fixed;
    z-index: 999;
    right: 20px;
    top: 86vh;
    display: none;
    scroll-behavior: smooth;
}


/* ------------------------------------------- request form ------------------------------------------------------------------------------------------------ */
.imgg{
    height: 45vh;
    padding-top: 90px;
    color: white;
    background-image: url('../images/side2.png'); background-size: cover;
}


.text{
    font-size: 18px;
    margin-bottom: 10px;
    color: white
}

.input{
    width: 95%;
    height: 6.5vh;
    border-radius: 5px ;
    border: none;
}

.input[type = time]{
    padding: 0  25px;
}

.input[type = date]{
    padding: 0  25px;
}


.input::placeholder{
    padding: 15px 25px;

}

textarea{
    border-radius: 5px ;
    border: none;
}

textarea::placeholder{
    padding: 15px 25px;

}



@media(max-width: 1420px){
    textarea{
        width: 95%;
    }
}


@media(max-width: 1400px){
    textarea{
        width: 95%;
    }
}

@media(max-width: 1380px){
    textarea{
        width: 95%;
    }
}


@media(max-width: 1360px){
    textarea{
        width: 95%;
    }
}
@media(max-width: 1340px){
    textarea{
        width: 95%;
    }
}

@media(max-width: 1320px){
    textarea{
        width: 95%;
    }
}

@media(max-width: 1300px){
    textarea{
        width: 95%;
    }
}

@media(max-width: 1290px){
    textarea{
        width: 95%;
    }
}


@media(max-width: 1270px){
    textarea{
        width: 95%;
    }
}


@media(max-width: 1260px){
    textarea{
        width: 95%;
    }
}


@media(max-width: 1250px){
    textarea{
        width: 95%;
    }
}

@media(max-width: 1200px){
    textarea{
        width: 95%;
    }
}





.button{
    padding: 7px 40px;
    margin-left: 300px;
    border: none;
    border-radius: 5px;
    background-color: white;
}

@media(max-width: 1290px){
    .button{
        margin-left: 260px;
    }
}

@media(max-width: 1250px){
    .button{
        margin-left: 250px;
    }
}

@media(max-width: 1220px){
    .button{
        margin-left: 235px;
    }
}


@media(max-width: 1200px){
    .button{
        margin-left: 350px;
    }
}


@media(max-width: 995px){
    .button{
        margin-left: 240px;
    }
}



@media(max-width: 760px){
    .button{
        margin-left: 140px;
    }
}



@media(max-width: 576px){
    .button{
        margin-left: 130px;
    }
}



/*------------------let'S talk----------------------------------------------------------------------------------------------------------*/

.obiqlue {
    background-color: #a72355;
    width: 100%;
    position: absolute;
    overflow: hidden;
    height:400px;
}

.obiqlue:after {
    content: "";
    display: block;
    background: #212529;
    height: 200px;
    width: 8000px;
    position: absolute;
    z-index: 1;
    bottom: -40%;
    left: 50%;
    margin-left: -4000px;
    transform: rotate(2deg);
}


.talk{
    background-color: white;
    color: black;
    padding: 14px 40px;
    border: 2px solid white;
    border-radius: 15px;
    margin-bottom: 30px;
    font-size: 20px;
    text-decoration: none;

}

.talk:hover{
    background-color: #212529;
    border: 2px solid white;
    color: white;
    transition: background-color 0.6s ease;
}



/*------------------footer----------------------------------------------------------------------------------------------------------*/



@media(max-width: 576px){
    .foot{
        margin-bottom: 35px;

    }

    .feed{
        width: 100%;

    }
}



